@import "tailwindcss";

body {
  background-color: #F8FAFD;
}

.button {
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* primary */
.button--type-primary {
  background-color: #0A52C4; /* 파란색 */
  color: white;
}
.button--type-primary:hover {
  background-color: #1e40af;
}

/* danger */
.button--type-danger {
  background-color: #dc2626; /* 빨간색 */
  color: white;
}
.button--type-danger:hover {
  background-color: #b91c1c;
}

/* light */
.button--type-light {
  background-color: #B3D7EF; /* 연한 회색 */
}
.button--type-light:hover {
  background-color: #9AC8F8
}

/* none */
.button--type-none {
  background-color:transparent; 
  color: black;
}
.button--type-none:hover {
  background-color:#E5E8ED /* 진한 회색 */
}

/* dark */
.button--type-dark {
  background-color: #1f2937; /* 진한 회색 */
  color: white;
}
.button--type-dark:hover {
  background-color: #111827;
}

/* outline 스타일 - 테두리만 있고 배경은 투명 */
.button--style-outline {
  background-color: transparent;
  border: 1px solid currentColor;
  color: black;
}

/* flat 스타일 - 완전 배경 없고 텍스트만 강조 */
.button--style-flat {
  background-color: transparent;
  border: none;
  color: inherit;
  box-shadow: none;
}

/* Font Sizes */
.text-xs {
  font-size: 0.7rem; /* 12px */
}
.text-sm {
  font-size: 0.875rem; /* 14px */
}
.text-base {
  font-size: 1rem; /* 16px */
}
.text-lg {
  font-size: 1.125rem; /* 18px */
}
.text-xl {
  font-size: 1.25rem; /* 20px */
}
.text-xxl {
  font-size: 1.5rem; /* 20px */
}

/* Font Weights */
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}

/* Text Colors */
.text-black {
  color: #000000;
}
.text-white {
  color: white;
}
.text-gray-500 {
  color: #6b7280; /* Tailwind gray-500 */
}
.text-blue-500 {
  color: #3b82f6; /* Tailwind blue-500 */
}
.text-red-500 {
  color: #ef4444; /* Tailwind red-500 */
}

/* Text Alignments */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}


.sJ9Raf {
  height: 48px; /* h-12 = 48px */
}

.sJ9Raf::after {
  content: "";
  border-bottom: 1px solid #dde3ea;
  position: absolute;
  width: 100%;
  margin-top: -1px;
  z-index: 1;
  pointer-events: none;
}

.todo-cell {
  position: relative;
  border-right: 1px solid #dde3ea;
  padding-right: 12px;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 81px;
  min-width: 81px;
}

.no-br {
  border-right: 0;
  padding-right: 0;
}

.separator {
  border-left: #dde3ea 1px solid;
  position: absolute;
  bottom: 0;
  height: 20px;
  margin-left: -1px;
}
